@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');

body{
    margin: 0;
}

.delete-button{
    cursor: pointer;
}

.delete-button:hover{
    color: salmon!important;
}

body *{
    font-family: 'Lexend Deca', sans-serif;
}